html{ 
  background: url(../GRAPHICS/2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar{
  width: 0px;
}

#main_body
{
  background-color: #FFFFFF;
  width: 400px;
  height: 800px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#sign_up
{
  padding-top: 40px;
  color: #0059ff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-shadow: 0px 2px 3.5px #00000050;
}

#sign_up_form 
{
  padding-top: 40px;
}


.sign_up_credentials
{
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #0059ff25;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

#sign_up_name, #sign_up_email
{
  margin-bottom: 25px;
}

#password
{
  margin-bottom: 45px;
}

#sign_up_name:focus, #sign_up_email:focus, #password:focus
{
  border: 2px solid #0059ff !important;
}

#ACTpassword
{
  display: none;
}

#mat_pass
{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 90px;
  margin-left: 90px;
  margin-bottom: 25px;
}

.square {
  height: 10px;
  width: 10px;
  background-color: white;
  border: 2px solid #0059ff;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  filter: drop-shadow(0px 3px 6px #00000050);
}

.square:not(:active):hover
{
  background-color: #0059ff25;
}

.square:active
{
  height: 14px;
  width: 14px;
  background: linear-gradient(to right, #0059ff, #00ccff);
  border: none;
}

#sign_up_submit
{
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #0059ff, #00ccff);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 34%;
  margin-bottom: 15px;
  font-size: 15px;
  filter: drop-shadow(0px 3px 2px #00000040);
}

#or_line
{
  text-align:center;
  color: #0059ff;
  display: grid;
  grid-template-columns:  100px max-content 100px;
  grid-template-rows: 12px 0;
  grid-gap: 15px;
  justify-content: center;
  text-shadow: 0px 2px 3.5px #00000050;
}
  
#or_line:after, #or_line:before 
{
  content: " ";
  display: block;
  border-bottom: 2px solid #0059ff25;
  filter: drop-shadow(0px 3px 6px #00000050);
}

#sign_in_option
{
  margin-top: 40px;
}

#sign_in_button
{
  cursor: pointer;
  border-radius: 5em;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #0059ff, #00ccff);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  margin-bottom: 15px;
  font-size: 15px;
  filter: drop-shadow(0px 3px 2px #00000040);
}

@media (max-width: 600px) 
{
  #main_body
  {
    border-radius: 0px;
  }
}